@model MvcGuitars10.Models.Guitars

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Guitars</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuitarModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuitarModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuitarBrand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuitarBrand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssueYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssueYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
